<ion-content class="main">
  <ion-toolbar class="header">
    <figure>
      <img src="../../../assets/icon&logo/logo.svg" alt="" class="logo" />
    </figure>


    <div class="openMenuBtnBox">
      <ion-menu-button class="openMenuBtn" id="filterMenu"> Pesquisa avançada<ion-icon
          name="options-outline"></ion-icon></ion-menu-button>
    </div>
  </ion-toolbar> 

  <ion-searchbar class="searchMenu" show-clear-button="focus"
    placeholder="Pesquise por esporte ou bairro..."></ion-searchbar>


  <ion-menu contentId="filterMenu">
    <ion-toolbar class="toolbarMenu">
      <ion-title>Pesquisa Avançada <ion-icon name="options-outline"></ion-icon></ion-title>
    </ion-toolbar>
    <ion-content class="ion-padding">
      <div class="filtros">
        <ion-select #esporte [multiple]="true" placeholder="Selecione o esporte desejado">
          <ion-select-option *ngFor="let e of selecaoEsportes" value="{{e}}">{{e}}</ion-select-option>
        </ion-select>

        <ion-select #bairro [multiple]="true" placeholder="Selecione o bairro">
          <ion-select-option *ngFor="let b of selecaoBairros" value="{{b}}">{{b}}</ion-select-option>
        </ion-select>

        <ion-select #idade [multiple]="true" placeholder="Selecione o faixa etária">
          <ion-select-option value="Infantil">Infantil</ion-select-option>
          <ion-select-option value="Jovens/Adultos">Jovens/Adultos</ion-select-option>
          <ion-select-option value="Idosos">Idosos</ion-select-option>
        </ion-select>

        <ion-select #valor [multiple]="true" placeholder="Opções de valor">
          <ion-select-option value="paga">Pago</ion-select-option>
          <ion-select-option value="gratuita">Gratuito</ion-select-option>
        </ion-select>

        <ion-select #turno [multiple]="true" placeholder="Turno desejado">
          <ion-select-option value="manhã">Manhã</ion-select-option>
          <ion-select-option value="tarde">Tarde</ion-select-option>
          <ion-select-option value="noite">Noite</ion-select-option>
        </ion-select>

        <ion-buttons>
          <ion-button class="btnFiltroLimpar">Limpar filtros</ion-button>
          <ion-button class="btnFiltro" (click)="buscarEmpresas(esporte.value, bairro.value, idade.value, valor.value, turno.value)">Pesquisar</ion-button>
        </ion-buttons>
      </div>
    </ion-content>
  </ion-menu>

  <p class="msgPadrao" *ngIf="infosEmpresas.length == 0"> Utilize a barra de pesquisa ou nossa pesquisa avançada para achar o local perfeito para você!</p>

<div *ngIf="infosEmpresas.length != 0">
  <h1>Resultados:</h1>

  <ion-card class="cardResultado" *ngFor="let i of infosEmpresas">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

    <figure class="logoEmpresaBox">
      <img class="logoEmpresa" src="https://ionicframework.com/docs/img/demos/card-media.png" alt="">
    </figure>

    <article class="infoCard">

      <div class="agruparInfos Mensalidade">
        <p>Mensalidade:</p><ion-chip>{{i.mensalidade}}</ion-chip>
      </div>

      <p class="nomeLocal">{{i.nomeLocal}}</p>
      <p>{{i.bairro}}, {{i.rua}}, {{i.numero}} - CEP: {{i.cep}}</p>

      <div class="agruparInfos">
        <p>Esportes:</p><ion-chip *ngFor="let e of infosEmpresas[i.indice].esportes">{{e}}</ion-chip>
      </div>

      <div class="agruparInfos">
        <p>Idade:</p><ion-chip *ngFor="let age of infosEmpresas[i.indice].idade">{{age}}</ion-chip>
      </div>

      <div class="agruparInfos">
        <p>Turnos:</p><ion-chip *ngFor="let t of infosEmpresas[i.indice].turno">{{t}}</ion-chip>
      </div>
      
    </article>

    <ion-button class="btnCard">Ver mais</ion-button>
  </ion-card>
</div>



</ion-content>