<ion-toolbar>
  <figure>
    <img src="../../../assets/icon&logo/logo.png" alt="" class="logo" />
  </figure>
</ion-toolbar>

<ion-content>
  <ion-button (click)="sair()">SAIR</ion-button>
  <div class="filtros">
    <ion-select [multiple]="true" placeholder="Selecione o esporte desejado">
      <ion-select-option value="apples">Futebol</ion-select-option>
      <ion-select-option value="oranges">Natação</ion-select-option>
      <ion-select-option value="bananas">Musculação</ion-select-option>
      <ion-select-option value="apples">Handbol</ion-select-option>
      <ion-select-option value="oranges">Vôlei</ion-select-option>
      <ion-select-option value="bananas">Basquete</ion-select-option>
      <ion-select-option value="apples">Atletismo</ion-select-option>
      <ion-select-option value="oranges">Judô</ion-select-option>
      <ion-select-option value="bananas">Karatê</ion-select-option>
      <ion-select-option value="apples">Surf</ion-select-option>
      <ion-select-option value="oranges">Skateboard</ion-select-option>
      <ion-select-option value="bananas">Futsal</ion-select-option>
    </ion-select>

    <ion-select [multiple]="true" placeholder="Selecione o bairro">
      <ion-select-option value="apples">Barra da Tijuca</ion-select-option>
      <ion-select-option value="oranges">Guaratiba</ion-select-option>
      <ion-select-option value="bananas">Botafogo</ion-select-option>
      <ion-select-option value="apples">Campo Grande</ion-select-option>
      <ion-select-option value="oranges">Nova Iguaçu</ion-select-option>
      <ion-select-option value="bananas">Santa cruz</ion-select-option>
      <ion-select-option value="apples">Pedra de Guaratiba</ion-select-option>
      <ion-select-option value="oranges">Recreio</ion-select-option>
      <ion-select-option value="bananas">Copacabana</ion-select-option>
      <ion-select-option value="apples">Jacarépaguá</ion-select-option>
      <ion-select-option value="oranges">Penha</ion-select-option>
      <ion-select-option value="bananas">Bangu</ion-select-option>
    </ion-select>

    <ion-select [multiple]="true" placeholder="Selecione o faixa etária">
      <ion-select-option value="apples">Infantil</ion-select-option>
      <ion-select-option value="oranges">Adulto/Jovem</ion-select-option>
      <ion-select-option value="bananas">Idoso</ion-select-option>
    </ion-select>

    <ion-select [multiple]="true" placeholder="Opções de valor">
      <ion-select-option value="apples">Pago</ion-select-option>
      <ion-select-option value="oranges">Gratuito</ion-select-option>
    </ion-select>

    <ion-select [multiple]="true" placeholder="Turno desejado">
      <ion-select-option value="apples">Manhã</ion-select-option>
      <ion-select-option value="oranges">Tarde</ion-select-option>
      <ion-select-option value="bananas">Noite</ion-select-option>
    </ion-select>

    <ion-buttons>
      <ion-button>Limpar filtros</ion-button>
      <ion-button>Pesquisar</ion-button>
    </ion-buttons>
  </div>

  <h1>Resultados:</h1>

  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>

    <ion-button expand="full">Ver mais</ion-button>
  </ion-card>
</ion-content>
