/* CHAMADA DAS FONTES IMPORTADAS DO GOOGLE ## Import presente no arquivo 'global.scss' ##
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Flex', sans-serif; */

ion-tab-bar {
  --background: var(--roxo);
}

ion-tab-button {
  --color: var(--branco);
  --color-selected: var(--verde);
  --ripple-color: var(--verde);
}
