<ion-content>
  <app-form-login *ngIf="!isLogged"></app-form-login>
  
</ion-content>
<ion-tabs *ngIf="isLogged">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" href="/tabs/inicio">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Pesquisar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="turmas" href="/tabs/turmas">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Turmas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
