<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Seu perfil</ion-title>
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    <!-- ▼ BOTÃO DO MENU DE LOGOUT, EDITAR PERFIL E MODO ESCURO ▼ -->
    <ion-button id="popover-button" (click)="openMenu()" class="opcoes">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-button>
    <!-- Itens do menu -->
    <ion-popover trigger="popover-button" [isOpen]="isMenuOpen" [dismissOnSelect]="false">
      <ng-template>
        <ion-content class="boxPop">

          <ion-title class="menuPop">Opções</ion-title>

          <ion-list class="listMenu">
            <!-- <ion-item class="itemMenu" [button]="true" [detail]="false">
              <ion-toggle>Modo Escuro</ion-toggle>
            </ion-item> -->
            <ion-item class="itemMenu" [button]="true" [detail]="false" (click)="openModal()">
              Perfil completo
              <ion-icon name="document-text-outline"></ion-icon>
            </ion-item>
            <ion-item class="itemMenu sair" (click)="sair()" [button]="true">
              Sair
              <ion-icon class="iconMenu sair" name="exit-outline"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="infoPerfil">
    <!-- ▼ FOTO DE PERFIL ▼ -->
    <ion-icon class="fotoPerfilchange" name="pencil-sharp" (click)="ativarInput2()"></ion-icon>
    <img *ngIf="!fotoPerfil.imgURL" src="https://ionicframework.com/docs/img/demos/card-media.png" class="fotoPerfil" />
    <img *ngIf="fotoPerfil.imgURL" src="{{this.fotoPerfil.imgURL}}" class="fotoPerfil" />
    <input type="file" name="" id="inputFile2" (change)="cadastrarFotoPerfil($event)">
    <aside class="infoPerfil-dados">
      <h3>{{dadosUser.nome+' '+dadosUser.sobrenome+', '}}</h3>
      <h3>{{dadosUser.idade + ' anos'}}</h3>
      <h4 *ngIf="dadosUser.apelido != ''"> Apelido:{{dadosUser.apelido}}</h4>
    </aside>
  </div>
  <div class="bioBox">
    <ion-icon class="bioIco" name="pencil-sharp" (click)="editarBioOn()"></ion-icon>
    <ion-textarea 
    class="{{bioReadOnly ? 'bioPerfil' : 'bioPerfilMod' }}"
    value="{{dadosUser.bio}}" 
    [counter]="true" 
    maxlength="150"
    readonly="{{bioReadOnly}}" 
    (ionBlur)="editarBio(bio.value)"
    [autoGrow]="true"
    #bio ></ion-textarea>
  </div>
  <!-- ▼ INÍCIO DA SESSÃO DE FOTOS ▼ -->
  <ion-grid>
    <ion-row>
      <input type="file" name="" id="inputFile" (change)="cadastrarFoto($event)">
      <ion-col size="auto" (click)="ativarInput()">
        <div class="newImg-div">
          <img class="newImg-btn" src="../../../assets/img/novaFoto.png" alt="">
          <span class="newImg-txt">Nova foto</span>
          <ion-icon class="newImg-ico" name="add"></ion-icon>
        </div>
      </ion-col>

      <ion-col *ngFor="let i of imagensPerfil" size="auto">
        <img id="{{i.imgName}}" src="{{i.imgURL}}" alt="">
        <!-- Modal da foto em tela cheia -->
        <ion-modal #modal trigger="{{i.imgName}}" class="modalImg">
          <ng-template class="ngTemplateImgModal">
            <ion-content class="contentImgModal">

              <div class="divImgModal">
                
                <nav class="botoesImg">
                  <ion-button class="btnImg" (click)="presentAlert(i.imgName, modal)">
                    <ion-icon class="iconTrash" name="trash"></ion-icon>
                  </ion-button>

                  <ion-button class="btnImg" (click)="modal.dismiss()">
                    <ion-icon name="close-outline"></ion-icon> Fechar
                  </ion-button>
                </nav>

                <img src="{{i.imgURL}}" alt="" class="imgModal">
              </div>

            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<!-- Modal das informações completas -->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>

    <ion-header *ngIf="readOnly === false">
      <ion-toolbar>
        <nav class="botoesModal">
          <ion-button class="confirmEdit" (click)="editarDados()"> Confirmar mudanças</ion-button>

          <ion-button class="fecharModal" (click)="editarOn()"> Cancelar</ion-button>
        </nav>
      </ion-toolbar>
    </ion-header>

    <ion-header *ngIf="readOnly === true">
      <ion-toolbar>
        <nav class="botoesModal">
          <ion-button class="botaoEdit" (click)="editarOn()">Editar Informações
            <ion-icon class="iconEdit" name="create-outline"></ion-icon>
          </ion-button>

          <ion-button (click)="openModal()" class="fecharModal">Fechar</ion-button>
        </nav>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="personalInfo">
        <h4>Informações pessoais</h4>
        <ion-item class="itemModal">
          <label class="labelModal">Nome <legend *ngIf="!readOnly">*</legend> :</label>
          <ion-input #nome (change)="dadosUser.nome = nome.value" class="{{readOnly ? 'inputModal' : 'inputModalMod' }}"
            readonly="{{readOnly}}" value="{{dadosUser.nome}}" [required]="true"></ion-input>
        </ion-item>

        <ion-item class="itemModal">
          <label class="labelModal">Sobrenome <legend *ngIf="!readOnly">*</legend> :</label>
          <ion-input #sobrenome (change)="dadosUser.sobrenome = sobrenome.value"
            class="{{readOnly ? 'inputModal' : 'inputModalMod' }}" readonly="{{readOnly}}"
            value="{{dadosUser.sobrenome}}" [required]="true"></ion-input>
        </ion-item>

        <ion-item class="itemModal">
          <label class="labelModal">Apelido (opcional):</label>
          <ion-input #apelido (change)="dadosUser.apelido = apelido.value"
            class="{{readOnly ? 'inputModal' : 'inputModalMod' }}" readonly="{{readOnly}}" value="{{dadosUser.apelido}}"
            [required]="true"></ion-input>
        </ion-item>

        <ion-item class="itemModal">
          <label class="labelModal">Data de nascimento <legend *ngIf="!readOnly">*</legend> :</label>
          <ion-input #dataNasc (change)="dadosUser.dataNasc = dataNasc.value"
            class="{{readOnly ? 'inputModal' : 'inputModalMod' }}" type="date" readonly="{{readOnly}}"
            value="{{dadosUser.dataNasc}}" [required]="true"></ion-input>
        </ion-item>

        <ion-item class="itemModal">
          <label class="labelModal">Telefone:</label>
          <ion-input #tel (change)="dadosUser.telefone = tel.value"
            class="{{readOnly ? 'inputModal' : 'inputModalMod' }}" readonly="{{readOnly}}"
            value="{{dadosUser.telefone}}" [required]="true"></ion-input>
        </ion-item>

        <ion-item class="itemModal">
          <label class="labelModal">Email:</label>
          <ion-input class="inputModal" readonly="true" value="{{dadosUser.email}}" [required]="true"></ion-input>
        </ion-item>
        <!-- --------------------------------------------------------------------------------- -->
        <h4>Validação de usuário</h4>
        <ion-item class="itemModal">
          <label class="labelModal">RG:</label>
          <ion-input class="inputModal" readonly="true" value="Avaliação pendente"></ion-input>
        </ion-item>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>