<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Seu perfil</ion-title>
    <!-- ▼ BOTÃO DO MENU DE LOGOUT, EDITAR PERFIL E MODO ESCURO ▼ -->
    <ion-button id="popover-button" (click)="openMenu()" class="opcoes">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
    <!-- Itens do menu -->
    <ion-popover trigger="popover-button" [isOpen]="isMenuOpen" [dismissOnSelect]="false">
      <ng-template>
        <ion-content class="boxPop">

          <ion-title class="menuPop">Opções</ion-title>

          <ion-list class="listMenu">
            <ion-item class="itemMenu" [button]="true" [detail]="false">
              <ion-toggle>Modo Escuro</ion-toggle>
            </ion-item>
            <ion-item class="itemMenu sair" (click)="sair()" [button]="true">
              Sair
              <ion-icon class="iconMenu sair" name="exit-outline"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="infoPerfil">
    <!-- ▼ FOTO DE PERFIL ▼ -->
    <img src="https://ionicframework.com/docs/img/demos/card-media.png" class="fotoPerfil" />
    <ion-chip>Nível de acesso: {{dadosUser.nivelAcesso}}</ion-chip>
    <h3>{{dadosUser.nome}}</h3>
    <h4>{{dadosUser.idade}} anos</h4>
    <h4>{{dadosUser.apelido}}</h4>
    <!-- ▼ BOTÃO QUE EXPANDE O RESTANTE DAS INFOS ▼ -->
    <button class="moreInfo" (click)="openModal()">Ver informações completas</button>
  </div>
  <!-- ▼ INÍCIO DA SESSÃO DE FOTOS ▼ -->

  <h5>Fotos Salvas</h5>
  <ion-grid>
    <ion-row>
      <ion-col size="4" (click)="add()"><ion-icon name="add"></ion-icon></ion-col>
      <ion-col *ngFor="let p of produtos" size="4">{{p.n}}</ion-col>

    </ion-row>
  </ion-grid>
</ion-content>


<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">

          <ion-button (click)="editarOn()">Editar Informações
            <ion-icon class="iconMenu" name="create-outline"></ion-icon>
          </ion-button>

          <ion-button (click)="openModal()" class="fecharModal">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="personalInfo">
        <h4>Informações pessoais</h4>
        <ion-item class="itemModal">
          <label class="labelModal">Nome completo:</label>
          <ion-input #nome (change)="dadosUser.nome = nome.value" class="inputModal" readonly="{{readOnly}}"
            value="{{dadosUser.nome}}"></ion-input>
        </ion-item>

        <ion-item class="itemModal">
          <label class="labelModal">Apelido (opcional):</label>
          <ion-input #apelido (change)="dadosUser.apelido = apelido.value" class="inputModal" readonly="{{readOnly}}"
            value="{{dadosUser.apelido}}"></ion-input>
        </ion-item>

        <ion-item class="itemModal">
          <label class="labelModal">Data de nascimento:</label>
          <ion-input #dataNasc (change)="dadosUser.dataNasc = dataNasc.value" class="inputModal" type="date"
            readonly="{{readOnly}}" value="{{dadosUser.dataNasc}}"></ion-input>
        </ion-item>
        <!-- -------------------------------------------------------------------------------------- -->
        <h4>Dados cadastrais</h4>
        <ion-item class="itemModal">
          <label class="labelModal">Email:</label>
          <ion-input class="inputModal" readonly="true" value="{{dadosUser.email}}"></ion-input>
        </ion-item>

        <ion-item class="itemModal">
          <label class="labelModal">RG:</label>
          <ion-input class="inputModal" readonly="true" value="Avaliação pendente"></ion-input>
        </ion-item>
      </div>
      <ion-button *ngIf="readOnly === false" (click)="editarDados()"> Editar</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>