/* CHAMADA DAS FONTES IMPORTADAS DO GOOGLE ## Import presente no arquivo 'global.scss' ##
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Flex', sans-serif; 

Cores tema:
--azulEscuro: #0E1621;
--azul: #006FC8;
--laranja: #FF7F0E;
--cinza: #C5CAE9;
--verde: #B5E61D;
--vermelho: #E1002D;
--roxo: #483D8B;
--branco: #E6E6FA;
*/

/* ----------------------- Header "Seu Perfil" ----------------------- */
ion-toolbar {
  --background: var(--azulEscuro);
}

ion-title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-left: 10vw;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 1px;
}

ion-content {
  padding: 0;
  margin: 0;
  --background: var(--branco);
}

/* ----------------------- Botão de Opções ----------------------- */

.opcoes {
  position: absolute;
  z-index: 9999;
  top: 5%;
  right: -2%;
  --background: rgba(128, 128, 128, 0.2);
  clip-path: circle();
  color: black;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

ion-icon {
  --ionicon-stroke-width: 30px;
}

ion-popover {
  --width: 280px;
}

.listMenu {
  padding: 0;
}

.menuPop {
  padding: 10px 0 10px 10px;
  margin: 0;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
  border-bottom: 1px solid gray;
}

.itemMenu {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

.sair {
  color: var(--vermelho);
  --background: rgba(255, 215, 215, 0.2);
}

.iconMenu {
  position: absolute;
  right: 5%;
  font-size: 2rem;
  --ionicon-stroke-width: 30px;
}

/* ----------------------- Foto de perfil, Nome e Apelido ----------------------- */

.infoPerfil {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px 15px;
}

.fotoPerfil {
  clip-path: circle();
  object-fit: cover;
  object-position: center;
  min-width: 130px;
  min-height: 130px;
  margin-top: 20px;
}

.fotoPerfilchange{
  position: absolute;
  top: 3%;
  left: 30%;
  z-index: 999999;
  font-size: 1.5rem;
  background-color: var(--roxo);
  color: var(--branco);
  border-radius: 50px;
  padding: 5px;
  --ionicon-stroke-width: 50px;
}

#inputFile2{
  display: none;
}

.infoPerfil-dados {
  width: 100%;
  padding-left: 5px;
}

.infoPerfil h3 {
  width: 100%;
  text-align: right;
  margin: 0 0 0 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.infoPerfil h4 {
  width: 100%;
  text-align: right;
  margin: 5px 0 0 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.2rem;
  font-style: oblique;
  font-weight: 400;
  letter-spacing: 1px;
}

.bioBox {
  padding: 0 15px 15px;
  background-color: rgba(255, 126, 14, 0.15);
  padding-top: 15px;
  margin-bottom: 30px;
  position: relative;
}

.bioIco {
  position: absolute;
  right: 2%;
  top: -7%;
  font-size: 1.7rem;
  background-color: var(--laranja);
  color: white;
  border-radius: 5px;
  padding: 2px;
  --ionicon-stroke-width: 50px;
}

.bioPerfil {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.25rem;
  --padding-top: 5px;
  --padding-botom: 5px;
  --padding-start: 5px;
  --padding-end: 5px;
  --background: none;
  font-weight: 400;
  color: black;
  --border-radius: 5px;
  --border-width: 2px;
  --border-style: solid;
  --border-color: var(--laranja);
}

.bioPerfilMod{
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.25rem;
  --padding-top: 5px;
  --padding-botom: 5px;
  --padding-start: 5px;
  --padding-end: 5px;
  --background: var(--branco);
  font-weight: 400;
  color: black;
  --border-radius: 5px;
  --border-width: 2px;
  --border-style: solid;
  --border-color: var(--roxo);
}


/* ----------------------- Sessão de fotos ----------------------- */
#inputFile {
  display: none;
}

ion-grid {
  width: 95%;
  margin: 10px;
  border-radius: 0.3125rem;
  background: rgba(0, 0, 0, 0.01);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.30);
}

ion-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

ion-col {
  background-color: rgb(72, 61, 139, 0.15);
  border: solid .5px rgb(72, 61, 139, 0.3);
  color: #fff;
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 10px;
}

img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.newImg-div {
  width: 100px;
  display: flex;
  justify-content: center;
}

.newImg-btn {
  position: absolute;
  width: 70%;
  top: 8%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.newImg-txt {
  position: absolute;
  color: #51505A;
  bottom: 2%;
  left: 3%;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Roboto Flex", sans-serif;
}

.newImg-ico {
  position: absolute;
  color: #51505A;
  bottom: 2%;
  right: 0%;
  font-size: 1.5rem;
  --ionicon-stroke-width: 50px;
}



.modalImg {
  --height: auto;
  --border-radius: 5px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.modalImg::part(backdrop) {
  background: rgb(0, 0, 0);
  opacity: 1;
}

.modalImg::part(content) {
  height: 36vh;
  background: #ffffff00;
}

.ngTemplateImgModal,
.contentImgModal {
  --background: rgba(255, 0, 0, 0); 
}

.divImgModal {
  background-color: #135d5400;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botoesImg {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.iconTrash {
  color: var(--vermelho);
  font-size: 1.2rem;
}

.btnImg {
  --background: rgba(0, 0, 0, 0.4);
  --box-shadow: 0px 0px 0px 0px transparent;
  width: fit-content;
  --border-radius: 5px;
}

.imgModal {
  width: auto;
  height: 35vh;
  object-fit: fill;
  
}


/* ----------------------- Apenas o modal ----------------------- */

.botoesModal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.fecharModal {
  color: white;
  --background: rgba(255, 0, 0, 0.7);
  font-weight: 600;
  font-size: 0.78rem;
  height: 10px;
  --border-radius: 5px;
  --padding-start: 7px;
  --padding-end: 7px;
  --padding-top: 5px;
  --padding-bottom: 5px;
}

.botaoEdit {
  --background: rgba(0, 0, 0, 0.2);
  color: white;
  width: max-content;
  height: 10px;
  font-size: 1rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  --border-radius: 5px;
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 8px;
  --padding-bottom: 8px;
}

.iconEdit {
  font-size: 1.6rem;
  margin-left: 5px;
}

.confirmEdit {
  --background: rgba(0, 255, 42, 0.5);
  color: white;
  width: max-content;
  height: 10px;
  font-size: 1rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  --border-radius: 5px;
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 8px;
  --padding-bottom: 8px;
}

.personalInfo h4 {
  width: 100%;
  text-align: center;
  margin: 0 0 20px;
  padding: 8px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: var(--azulEscuro);
  color: white;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.5);
}

.itemModal {
  width: 100%;
  margin: 10px 0 0;
  padding: 0;
  --padding-start: 10px;
  --padding-end: 10px;
}

.labelModal {
  font-family: "Roboto Flex", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
}

.inputModal {
  font-family: "Montserrat", sans-serif;
  color: var(--azulEscuro);
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 5px;
  background-color: rgba(122, 122, 122, 0.2);
  margin-bottom: 10px;

}

ion-input {
  --padding-start: 120px;
}

.inputModalMod {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 5px;
  background-color: rgba(92, 162, 241, 0.2);
  margin-bottom: 10px;
  --padding-start: 12px;
}

legend {
  color: red;
}