/* CHAMADA DAS FONTES IMPORTADAS DO GOOGLE ## Import presente no arquivo 'global.scss' ##
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Flex', sans-serif; */


/* ----------------------- Header "Seu Perfil" ----------------------- */
ion-toolbar {
  --background: var(--azul);
}

ion-title {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-left: 10vw;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 1px;
}

ion-content {
  padding: 0;
  margin: 0;
}

/* ----------------------- Botão de Opções ----------------------- */

.opcoes {
  position: absolute;
  z-index: 9999;
  top: 5%;
  right: -2%;
  --background: rgba(128, 128, 128, 0.2);
  clip-path: circle();
  color: black;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

ion-icon {
  --ionicon-stroke-width: 30px;
}

ion-popover {
  --width: 280px;
}

.listMenu {
  padding: 0;
}

.menuPop {
  padding: 10px 0 10px 10px;
  margin: 0;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
  border-bottom: 1px solid gray;
}

.itemMenu {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

.sair {
  color: var(--vermelho);
  --background: rgba(255, 215, 215, 0.2);
}

.iconMenu {
  position: absolute;
  right: 5%;
  font-size: 2rem;
  --ionicon-stroke-width: 30px;
}

/* ----------------------- Foto de perfil, Nome e Apelido ----------------------- */

.infoPerfil {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fotoPerfil {
  clip-path: circle();
  object-fit: cover;
  object-position: center;
  min-width: 250px;
  height: 250px;
  margin-top: 20px;
}

.infoPerfil h3 {
  width: 95%;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}

.infoPerfil h4 {
  width: 95%;
  text-align: center;
  margin: 5px 0 0 0;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

/* ----------------------- Botão de informações completas ----------------------- */
.moreInfo {
  background-color: rgba(214, 214, 214, 0.35);
  color: var(--azulEscuro);
  width: 80%;
  padding: 10px 5px;
  margin-top: 18px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  font-weight: 500;
  text-underline-offset: 3px;
}

/* ----------------------- Sessão de fotos ----------------------- */
h5 {
  width: 95%;
  margin: 20px 10px 10px;
  padding: 5px 0 0 0;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-top: 1px solid black;
}

ion-grid {
  width: 95%;
  margin: 10px;
}

ion-col {
  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
  height: 100px;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

/* ----------------------- Apenas o modal ----------------------- */
.fecharModal {
  color: white;
}

.personalInfo h4 {
  width: 100%;
  text-align: center;
  margin: 0 0 20px;
  padding: 8px;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: var(--azulEscuro);
  color: white;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.5);
}

.itemModal {
  width: 100%;
  margin: 10px 0 0;
  padding: 0;
  --padding-start: 10px;
  --padding-end: 10px;
}

.labelModal {
  font-family: 'Roboto Flex', sans-serif;
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
}

.inputModal {
  font-family: 'Montserrat', sans-serif;
  color: var(--azulEscuro);
  font-size: 1.1rem;
  font-weight: 400;
}