// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /* Cores tema */
  --azulEscuro: #0e1621;
  --azul: #333399;
  --verde: #b5e61d;
  --vermelho: #ff3737;
  --branco: #ffffff;
}

html {
  /* 
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
