// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /* Cores tema */
  --azulEscuro: #0E1621;
  --azul: #006FC8;
  --laranja: #FF7F0E;
  --cinza: #C5CAE9;
  --verde: #B5E61D;
  --vermelho: #E1002D;
  --roxo: #483D8B;
  --branco: #E6E6FA;
}

html {
  /* 
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}