<!-- Logo -->
<figure>
  <img src="../../../assets/icon&logo/logo.svg" class="{{logoClass}}" id="logo">
</figure>

<!-- --------------- PARTE DE LOGIN --------------- -->
<ion-content class="contentLogin" *ngIf="!wantsCad">
  <img class="background" src="../../../assets/img/background-telaLogin.svg" alt="">

  <div class="main">

    <h2 class="titleLogin">Login</h2>

    <form>

      <!-- EMAIL --> <ion-input 
      type="email" 
      placeholder="Digite seu email" 
      label-placement="stacked"
      clearInput="true"
      value="{{ clearInputs ? '' : emailLogin.value }}" 
      #emailLogin >
      <ion-label slot="label">Email</ion-label>
    </ion-input>

      <!-- SENHA --> <ion-input 
      type="password"
      placeholder="Digite sua senha" 
      label-placement="stacked" 
      clearInput="true" 
      value="{{ clearInputs ? '' : passLogin.value }}" 
      #passLogin >
      <ion-label slot="label">Senha</ion-label>
    </ion-input>

      <!-- BOTÃO "ENTRAR" --> <ion-button class="btnEntrar" (click)="loginPadrao(emailLogin.value, passLogin.value)">
        Entrar
      </ion-button>

      <!-- IR PARA ESCOLHA -->
      <legend>Não tem um cadastro? <a (click)="goToCadChoice()">Cadastre-se aqui</a></legend>
    </form>
  </div>
  <!-- LOGIN COM GOOGLE ***RESOLVER DEPOIS***
  <h6>OU</h6>


<ion-button class="loginGoogle" (click)="loginGoogle()">
    <ion-thumbnail class="googleIcon">
      <img src="../../../assets/img/google-icon.png" />
    </ion-thumbnail>
    Entrar com o Google
  </ion-button>
  -->

</ion-content>

<!-- --------------- PARTE DE ESCOLHA DE CADASTRO --------------- -->
<ion-content class="contentChoose" *ngIf="wantsCad && cadType === '' ">
  <img class="background" src="../../../assets/img/background-telaLogin.svg" alt="">

  <div class="main">

    <h2 class="titleLogin titleEscolha">Que usuário você é?</h2>

    <form>
      <!-- ESCOLHA DE PF --> <ion-button class="btnEscolha" (click)="chooseCad(true)">
        <p>
          Sou uma <b>PESSOA</b> interessada em praticar esportes!</p>
      </ion-button>

      <!-- ESCOLHA DE PJ --> <ion-button class="btnEscolha" (click)="chooseCad(false)">
        <p>
          Sou uma <b>EMPRESA</b> interessada em oferecer esportes!</p>
      </ion-button>

      <!-- VOLTAR PARA LOGIN --> <ion-button class="btnVoltar" (click)="goToCadChoice()">Voltar</ion-button>
    </form>
  </div>
</ion-content>


<!-- --------------- PARTES DE CADASTRO --------------- -->
<!-- CADASTRO DE PF -->
<ion-content class="contentCadPF" *ngIf="cadType === 'PF' ">
  <img class="background" src="../../../assets/img/background-telaLogin.svg" alt="">

  <div class="main" *ngIf="!continueCad">

    <h2 class="titleLogin titleEscolha">Cadastro de Usuário</h2>

    <form>

      <!-- EMAIL--><ion-input 
      type="email" 
      placeholder="Digite seu email" 
      label-placement="stacked" 
      clearInput="true"
      value="{{ clearInputs ? '' : emailCadUser.value }}" 
      #emailCadUser ><ion-label slot="label">Email</ion-label>
    </ion-input>
   
      
      <!-- SENHA --><ion-input 
      type="password"
      placeholder="Digite sua senha" 
      label-placement="stacked" 
      clearInput="true" 
      minlength="8"
      maxlength="20"
      value="{{ clearInputs ? '' : passCadUser.value }}" 
      #passCadUser >
      <ion-label slot="label">Senha</ion-label>
      </ion-input>

      <!-- REPETIR SENHA --><ion-input 
      type="password" 
      placeholder="Digite sua senha novamente!" 
      label-placement="stacked" 
      clearInput="true"
      value="{{ clearInputs ? '' : rePassUser.value }}"
      #rePassUser ><ion-label slot="label">Repita sua senha</ion-label>
    </ion-input>

      <!-- BOTÃO CADASTRAR --><ion-button class="btnCad"
        (click)="prosseguirCad(emailCadUser.value, passCadUser.value, rePassUser.value)">
        Prosseguir
      </ion-button>
      <ion-button class="btnVoltar" (click)="cadType = '' ">Voltar</ion-button>
    </form>
  </div>
  <!-- -------------------- CONTINUAÇÃO DE CADASTRO --------------------  -->
  <div class="main" *ngIf="continueCad">
    <h2 class="titleLogin titleEscolha titleContinue">Continuação de cadastro</h2>
    <ion-button class="btnCancelar" (click)="prosseguirCad(1,2,3)"><ion-icon
        name="close-outline"></ion-icon>Cancelar</ion-button>
    <form class="form2">
      <!-- NOME--><ion-input 
      label-placement="stacked"  
      clearInput="true" 
      placeholder="Digite seu nome"
      value="{{ clearInputs ? '' : nomeCadUser.value }}" 
      #nomeCadUser ><ion-label slot="label">Nome</ion-label>
    </ion-input>

      <!-- SOBRENOME --><ion-input 
      label-placement="stacked" 
      clearInput="true"
      placeholder="Digite seu sobrenome" 
      value="{{ clearInputs ? '' : sobrenomeCadUser.value }}" 
      #sobrenomeCadUser ><ion-label slot="label">Sobrenome</ion-label>
    </ion-input>

      <!-- APELIDO --><ion-input 
      label-placement="stacked" 
      clearInput="true"
      placeholder="Digite seu apelido" 
      value="{{ clearInputs ? '' : apelidoCadUser.value }}" 
      #apelidoCadUser ><ion-label slot="label">Telefone</ion-label>
    </ion-input>

      <!-- DATA DE NASCIMENTO --><ion-input 
      label-placement="stacked" 
      clearInput="true"
      type="date" 
      placeholder="" 
      value="{{ clearInputs ? '' : dataNascCadUser.value }}" 
      #dataNascCadUser ><ion-label slot="label">Data de nascimento</ion-label>
    </ion-input>


      <!-- BOTÃO CADASTRAR --><ion-button class="btnCad"
        (click)="cadUser(nomeCadUser.value, sobrenomeCadUser.value, apelidoCadUser.value, dataNascCadUser.value)">
        Cadastrar-se
      </ion-button>
    </form>
  </div>

</ion-content>


<!-- CADASTRO DE PJ -->
<ion-content class="contentCadPJ" *ngIf="cadType === 'PJ' ">
  <img class="background" src="../../../assets/img/background-telaLogin.svg" alt="">

  <div class="main" *ngIf="!continueCad">

    <h2 class="titleLogin titleEscolha">Cadastro de Empresa</h2>

    <form>

      <!-- EMAIL--><ion-input 
      label-placement="stacked" 
      clearInput="true"
      placeholder="Digite seu email" 
      value="{{ clearInputs ? '' : emailCad.value }}" 
      #emailCad ><ion-label slot="label">Email</ion-label>
    </ion-input>

      <!-- SENHA --><ion-input 
      label-placement="stacked" 
      clearInput="true" 
      type="password"
      placeholder="Digite sua senha" 
      value="{{ clearInputs ? '' : passCad.value }}" 
      #passCad ><ion-label slot="label">Senha</ion-label>
    </ion-input>

      <!-- REPETIR SENHA --><ion-input 
      label-placement="stacked" 
      clearInput="true"
      type="password" 
      placeholder="Digite sua senha novamente!" 
      value="{{ clearInputs ? '' : rePass.value }}"
      #rePass ><ion-label slot="label">Repita sua senha</ion-label>
    </ion-input>

      <!-- BOTÃO CADASTRAR --><ion-button class="btnCad"
        (click)="prosseguirCad(emailCad.value, passCad.value, rePass.value)">
        Prosseguir
      </ion-button>
      <ion-button class="btnVoltar" (click)="cadType = '' ">Voltar</ion-button>
    </form>
  </div>
  <!-- -------------------- CONTINUAÇÃO DE CADASTRO --------------------  -->
  <div class="main" *ngIf="continueCad">
    <h2 class="titleLogin titleEscolha titleContinue">Continuação de cadastro</h2>
    <ion-button class="btnCancelar" (click)="prosseguirCad(1,2,3)"><ion-icon
        name="close-outline"></ion-icon>Cancelar</ion-button>
    <form class="form2">
      <!-- NOME--><ion-input 
      label-placement="stacked" 
      clearInput="true"
      placeholder="Digite seu nome" 
      value="{{ clearInputs ? '' : nomeEmpresaCad.value }}" 
      #nomeEmpresaCad ><ion-label slot="label">Nome da empresa</ion-label>
    </ion-input>

      <!-- SOBRENOME --><ion-input 
      label-placement="stacked" 
      clearInput="true"
      placeholder="Digite seu sobrenome" 
      value="{{ clearInputs ? '' : nomeLocalCad.value }}" 
      #nomeLocalCad ><ion-label slot="label">Nome do estabelecimento</ion-label>
    </ion-input>

      <!-- APELIDO --><ion-input 
      label-placement="stacked" 
      clearInput="true"
      placeholder="Digite seu apelido" 
      value="{{ clearInputs ? '' : CnpjCad.value }}" 
      #CnpjCad ><ion-label slot="label">CNPJ</ion-label>
    </ion-input>

      <!-- DATA DE NASCIMENTO --><ion-input 
      label-placement="stacked" 
      clearInput="true" 
      type="tel"
      placeholder="" 
      value="{{ clearInputs ? '' : telefoneCad.value }}" 
      #telefoneCad ><ion-label slot="label">Telefone</ion-label>
    </ion-input>


      <!-- BOTÃO CADASTRAR --><ion-button class="btnCad"
        (click)="cadEmpresa(nomeEmpresaCad.value, nomeLocalCad.value, CnpjCad.value, telefoneCad.value)">
        Cadastrar-se
      </ion-button>
    </form>
  </div>
</ion-content>
<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
<footer>© 2024 Achei! Esportes Ltda</footer>